* {
    border: 0;
    margin: 0;
}
.btnStyle {
    background-color: rgb(17, 228, 217);
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    margin: 8px;
    display: block;
    text-align: center;
}
.inputStyle {
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid gray;
    width: 150px;
}
.styleCont h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}

.lunesStyle {
    margin-top: 7%;   
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}
.containerStyle {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(126, 200, 235);
    font-weight: bold;
    
}
.styleH1 {
    font-weight: 1rem;
    font-family: 'Kavivanar', cursive;
    text-align: center;
    color: white;
}
.h1Cont {
    background-color: black;
    padding: 10px 0px 10px 0px;
}
.contWeek li {
    list-style: none;
}
.styleWeather {
    font-family: 'Roboto', sans-serif;
}
